html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	font-family: 'Herlvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', sans-serif !important;
	background: #111111;
}

/*-- global --*/

.top-header {
	width: 100%;
	height: 5px;
	background: #0050aa;
}

.main {
	background: #111111;
	padding-top: 130px;
	margin-top: 170px;
}

.no-radius {
	border-radius: 0 !important;
}

.container-article-page {
	max-width: 720px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

.line {
	height: 1px;
	width: 100%;
	background: #111;
	margin: 25px 0;
}

/*--x-- global --x--*/

/*-- header --*/

.logo {
	position: relative;
	justify-content: space-between;
}

.main-logo {
	display: table;
	text-align: center;
	margin: 0 auto;
}

.logo div a>img {
	height: 70px;
}

header {
	position: fixed;
	width: 100%;
	z-index: 10000;
	background: #111;
	height: 170px !important;
	top: 0;
}

header .container img {
	display: block;
	margin: 0 auto;
	padding: 1rem 0 0 0;
}

.social {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	margin: 2rem 0 0 0;
}

.social a i {
	padding: .5rem;
	color: #ffffff;
}

/*.nav-menu .navbar-toggler button {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1rem 0;
}*/


.navbar {
	position: absolute !important;
	width: 100%;
	left: 0;
}

.nav-menu {
	z-index: 1000;
	background: #111;
	padding: 1rem 0 0 0 !important;
}

.nav-menu .navbar-toggler {
	position: absolute;
	z-index: 1111;
	top: -30px;
	left: 25px !important;
}

.bar {
	width: 30px;
	height: 5px;
	background-color: #fff;
	display: block;
	transition: .3s ease;
}

#bar1 {
	transform: translatey(-4px);
}

#bar3 {
	transform: translatey(4px);
}

.change #bar1 {
	transform: translatey(4px) rotatez(-45deg);
	transition: .3s ease;
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
	transform: translatey(-6px) rotatez(45deg);
	transition: .3s ease;
}

.nav-menu .navbar-toggler i {
	color: #fff;
}

#navbar-main {
	margin: 0 0 1rem 0;
}

#navbar-main li {
	margin: 0 2rem;
}

#navbar-main a {
	color: #ffffff;
	padding: 1rem 0 .5rem 0;
}

#navbar-main ul li.active {
	border-bottom: 3px solid #0050aa
}
/*
#navbar-main a .active {
	border-bottom: 3px solid #0050aa !important;
}
*/
#navbar-main li:hover {
	border-bottom: 3px solid #0050aa;
}

/*--x-- header --x--*/

/*-- 001-index --*/

/*-- main content --*/

/*-- slide --*/

.carousel-caption {
    position: absolute;
    width: 100%;
    background: #111111;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    z-index: 10;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    color: #fff;
    height: 150px;
    text-align: center;
    opacity: .8;
}

.carousel-caption h5 {
	color: #ffffff;
	font-weight: bold;
}

.carousel-indicators {
	bottom: -65px;
}

.carousel-indicators li {
	text-indent: 0 !important;
	width: 20px !important;
	height: 20px !important;
	position: relative;
	border-radius: 100%;
	text-align: center;
	color: #111;
}

.carousel-indicators li>span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.carousel-control-prev div, .carousel-control-next div {
	padding: 1rem 2rem;
	border: 1px solid #fff;
	cursor: pointer;
}

.carousel-control-prev label, .carousel-control-next label {
	color: #fff;
	margin-bottom: 0 !important;
	cursor: pointer;
}

/*--x-- slide --x--*/

/*-- card new content --*/

.artical-title {
	/* height: 70px; */
	overflow: hidden;
	font-size: 16px;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.new-content {
	margin-top: 3rem;
}

.new-content .card-content {
	margin: 1rem 0;
}

.new-content .card-content .card-new-content {
	color: #fff;
}

.new-content .card-content .card-new-content .post-man {
	margin: .5rem 0 0 0;
}

.new-content .card-content .card-new-content .post-man>label {
	font-size: 14px;
	font-weight: 600;
}

.new-content .card-content .card-new-content img {
	width: 100%;
	height: 100%;
}

.new-content .card-content .card-new-content .card-category a {
	color: #0072f2;
}

.new-content-pagination {
	margin: 2.5rem auto;
}

.new-content-pagination nav ul .page-item .page-link{
	padding: .2rem 2rem;
	border-radius: 0;
}

/*--x-- card new content --x--*/

/*-- feature --*/

.feature {
	background: #fff;
	margin: 2.5rem 0 4rem 0;
}

.feature .feature-content .card-feature {
	margin: 2rem 0;
}

.feature .container label {
	font-size: 18px;
}
/* .feature .feature-content .card-feature img {
	border: 1px solid #111;
} */

/* .feature .feature-content img {
	width: 100%;
	height: auto;
	object-fit: cover;
} */

/*--x-- feature --x--*/

/*-- ranking --*/

.rank {
	background: #e7e7e7;
	padding: 2.5rem 0;
}

.rank-content .card-ranking-content {
	padding: 15px;
	max-width: 20%;
}

.rank-content .card-ranking-content .ranking-number h3:hover {
	color: #111;
}

.rank-content .card-ranking-content .ranking-number h3::before {
	content: '';
	display: block;
	background: #cdcdcd;
	width: 40%;
	height: 2px;
	top: 50%;
	left: 0;
	position: absolute;
}

.rank-content .card-ranking-content .ranking-number h3 {
	text-align: center;
	position: relative;
	display: block;
	font-size: 26px;
	color: #111;
}

.rank-content .card-ranking-content .ranking-number h3 span {
	padding:0 1rem;
	position: relative;
	z-index: 1;
}

.rank-content .card-ranking-content .ranking-number h3::after {
 	content: '';
	display: block;
	background: #cdcdcd;
	width: 40%;
	height: 2px;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 0;
}

.rank-content .card-ranking-content img {
	width: 100%;
	margin: 1rem 0;
}

/*--x-- ranking --x--*/

/*-- series --*/

.series {
	background: #fff;
	padding: 2.5rem 0 4rem 0;
}

.series .container label {
	font-size: 18px;
}

.series-card-content {
	margin: 1rem 0 2rem 0;
}

.series-card-content div {
	border: 1px solid #111111;
}

.series-card-content div label {
	padding: 10px 20px;
}

.series-card-content div label i {
	font-size: 20px;
	margin: 0 .5rem;
}

/*--x-- series --x--*/

/*-- follow --*/

.follow {
	background: #e7e7e7;
	padding: 5rem 0;
}

.follow .text-center i {
	color: #111111;
	font-size: 42px;
}

.follow .instagram-posts {
	margin-top: 2rem;
}

.follow .instagram-posts .instagram-posts-scrolls .instagram-posts-item {
	margin-right: 2.5rem;
	/* width: 300px;
	height: 250px; */
}

.follow .instagram-posts .instagram-posts-scrolls li img {
	width: 100%;
	height: 250px;
}

/*--x-- follow --x--*/

/*-- footer --*/

footer {
	background: #111111;
	/*padding: 0 15px;*/
}

footer .container .footer-logo {
	display: flex;
	justify-content: center;
	margin:  0 auto;
	padding: 4rem 0 0 0;
}

footer .container .footer-logo img {
	width: 200px;
	height: 100px;
	margin: 0 1rem;
	object-fit: cover;
}

footer div .footer-content div img {
	margin: 25% auto;
}

.footer-line {
	width: 100%;
	height: 3px;
	background: #fff;
}

.footer-bottom {
	background: #0050aa;
	width: 100%;
	color: #fff;
}

.footer-bottom label {
	padding: 1rem 0;
	margin: auto 0;
}

/*--x-- footer --x--*/

/*--x-- main content --x--*/

/*--x-- 001-index --x--*/


/*-- 002-Category page--*/

/*-- main category content --*/

.main-category-content {
	background: #ffffff;
	padding: 25px 0 0 0;
}

.main-category-content .container .category-header {
	height: 200px;
}

/* .main-category-content .container .category-header .category-header-img {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	z-index: 9999;
	width: 100%;
} */

/*.main-category-content .container .category-header div img {
	height: 180px;
	width: 100%;
	visibility: hidden;
	size: cover;
}*/

.main-category-content .container .category-header div h3 {
	margin: 15% 0;
}

.main-category-content .container .category-header div>img {
	object-fit: contain;
	height: 250px;
	margin: 0 auto;
	display: block;

}

.category-content {
	padding: 20px 0;
}

.category-content .category-content-item-list .category-content-item {
	margin-bottom: 25px;
	height: 180px;
}

.category-content .category-content-item-list .category-content-item img {
	height: 180px;
	width: 100%;
}

.category-content .category-content-item-list .category-content-item>.col-7 {
	height: 180px;
	overflow: hidden;
}

/*.category-content .category-content-item-list .category-content-item>.col-7 .category-content-item-title {
	height: 50px;
}*/

.category-content .category-content-item-list .category-content-item-content {
	height: 45px;
	overflow: hidden;
	display: block;
	font-size: 14px;
}

.category-content .category-content-item-list .category-content-item>.col-7 .category-content-item-title,.category-content-item-content {
	margin: 0 0 10px 0;
}

.category-content .category-content-item-list .category-content-item div .category-content-item-post .post-man-avatar img {
	height: auto;
	width: 50px;
	border-radius: 100%;
}

.category-content .category-content-item-list .category-content-item div .category-content-item-post .post-man-avatar div>label {
	margin: 0;
}

.category-content-right {
	padding-left: 0 !important;
}

.category-content-right h2 {
	font-size: 32px;
}

.category-content-right h4 {
	font-size: 18px;
	color: #111;
}

.category-content-right .category-content-right-feature-item {
	padding: 5px;
	margin-bottom: 1rem; 
	/* border:1px solid #111; */
	display: flex;
	justify-content: space-between;
}

.category-content-right .category-content-right-feature-item .img-wrap-feature-item-1,.img-wrap-feature-item-2,.img-wrap-feature-item-3 {
	width: 100px;
	height: 100px;
	background-size: cover;
}

.category-content-right .category-content-right-feature-item .img-wrap-feature-item-1 {
	background-image: url(../../image/django-img-demo.jpg);
	background-position: 25% 50%;
}

.category-content-right .category-content-right-feature-item .img-wrap-feature-item-2 {
	background-image: url(../../image/speedfight-img-demo.jpg);
	background-position: 95% 50%;
}

.category-content-right .category-content-right-feature-item .img-wrap-feature-item-3 {
	background-image: url(../../image/citystar-img-demo.jpg);
	background-position: 70% 50%;
}

.category-content-right .category-content-right-feature-item img {
	width: 100px;
	height: 100px;
	visibility: hidden;
}

.category-content-right .category-content-right-rank-list .category-content-right-rank-item {
	padding: 5px 0 5px 0;
	margin-bottom: .5rem;
	display: flex;
}

.category-content-right .category-content-right-rank-list .category-content-right-rank-item div {
	position: relative;
}

.category-content-right .category-content-right-rank-list .category-content-right-rank-item div .category-content-right-rank-item-number span {
	position: absolute;
	width: 25px;
	height: 25px;
	top: -75px;
	left: 0;
	color: #fff;
	background: #111;
	text-align: center;
}

.category-content-right .category-content-right-rank-list .category-content-right-rank-item .rank-item-img-wrap {
	width: 75px;
	height: 75px;
	/*background-image: url(D:/xampp/htdocs/adiva-world.jp/image/img-slide-demo.jpg);*/
	background-image: url(../../image/img-slide-demo.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

.category-content-right .category-content-right-rank-list .category-content-right-rank-item div img {
	width: 75px;
	height:75px;
	visibility: hidden;
}

.category-content-right .category-content-right-rank-list .category-content-right-rank-item a {
	margin-left: 10px;
	font-size: 14px;
	line-height: 1.2rem;
	color: #111;
}

.category-content-right .category-content-right-rank-list .category-content-right-rank-item a:hover {
	color: #007bff;
}

.category-content-right-feature-list .d-flex a,i {
	color: #111;
}

.category-content-right-feature-list .d-flex i {
	margin: 0 0 0 5px;
}

.category-content-right-series .category-content-right-series-item {
	padding: 5px;
	margin-bottom: 1rem;
	border: 1px solid #dedede;
	display: flex;
	justify-content: space-between;
}

.category-content-right-series .category-content-right-series-item i {
	font-size: 20px;
	position: absolute;
}

.category-content-right-series .category-content-right-series-item div {
	padding: 20px;
}

.category-content-right-series .category-content-right-series-item .series-item-img-wrap {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: 50%;
	/*background-image: url(D:/xampp/htdocs/adiva-world.jp/image/img-demo-3.jpg);*/
	background-image: url(../../image/img-demo-3.jpg);
}

/* .category-content-right-series .category-content-right-series-item div p {
	margin-left: 15px;
} */

.category-content-right-series .category-content-right-series-item .series-item-img-wrap img {
	width: 100px;
	height: 100px;
	visibility: hidden;
}

.category-content-right-series .category-content-right-series-item a {
	display: flex;
	justify-content: space-around;
}

.category-content-right-series .d-flex a,i {
	color: #111;
}

.category-content-right-series .d-flex i {
	margin: 0 0 0 5px;
}

.category-content-right-follow {
	margin-right: 0 !important;
}

.category-content-right-follow .category-content-right-follow-item {
	width: calc(50% - 5px);
	float: left;
	margin-bottom: 10px;
}
.category-content-right-follow .category-content-right-follow-item:nth-child(even) {
	margin-left: 10px;
}
.category-content-right-follow .category-content-right-follow-item:nth-child(odd) {
	clear: both;
}

.category-content-right-follow .category-content-right-follow-item img {
	width: 100%;
}

.category-content-right-follow .row {
	margin: 0 0 0 15px;
	width: 100%;
	padding: 1rem 0 .5rem 0;
	/*border: 1px solid #111;*/
}

.category-content-right-follow .follow-me a:hover div>h4 {
	color: #007bff;
}

/* .category-content-right-follow .row img {
	margin: auto 3rem auto 3rem;
	width: 60px;
	height: 60px;
} */

.category-content-right-follow .row>a>div>h4 {
	color: #111;
	font-size: 18px;
}

.page-item {
	border: 1px solid #0050aa !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0050aa !important;
    border-color: #0050aa !important;
}

/*--x-- main category content --x--*/

/*--x-- 002-Category page--x--*/

/*-- 003-article details page --*/

/*.article-line::before {
	content: '';
	display: block;
	width: 100%;
	margin: .2rem 0;
	border: 1px solid #0050aa;
}

.article-line::after {
	content: '';
	display: block;
	width: 100%;
	margin: .2rem 0;
	border: 1px solid #0050aa;
}*/

.main-article-details-page-content {
	background: #fff;
	/* padding: 0 15px; */
}

.article-page {
	width: 100%;
}

.main-article-details-page-content .article-details-img {
	max-width: 720px;
  	margin: 0 auto;
	padding: 0;
	position: relative;
}

.main-article-details-page-content .article-details-img.img-max-height>.resize-img {
	/*max-height: 480px !important;*/
	padding-top: 66.66%;
    position: relative;
    overflow: hidden;
}

.main-article-details-page-content .article-details-img.img-max-height>.resize-img>.img-resize {
	/*width: 100%;
	overflow: hidden;
	padding-top: 66.66%;
	margin: 0;
	position: relative;*/
	/*max-height: 480px;
	position: relative;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	object-position: center;*/
	height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: block;
    object-fit: cover;
    object-position: center;
}

/*.main-article-details-page-content .article-details-img.default>.resize-img>.img-resize {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
*/
 .main-article-details-page-content .article-details-img.default>.resize-img {
	/*max-height: 480px !important;*/
	width: 100%;
	overflow: hidden;
	padding-top: 66.66%;
	margin: 0;
	position: relative;

} 

.main-article-details-page-content .article-details-img.default>.resize-img>.img-resize {
	/*max-height: 480px;
	position: relative;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	object-position: center;*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

/*.resize-img {
	width: 100%;
	overflow: hidden;
	padding-top: 66.66%;
	margin: 0;
	position: relative;
}*/

/*.resize-img>.img-resize {
	 width: 100%; 
	 margin: 38.5px 0 -38.5px 0; 
	 padding: 35px 0; 
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	display: block;
	object-fit: cover;
	object-position: center;
}*/

/* .img-resize {
	width: 100%;
	object-fit: cover;
} */

.main-article-details-page-content .container-article-page {
	margin-top: 1rem;
}

.main-article-details-page-content .article-details-img .cover-text {
	opacity: .5;
  color: white!important;
  background: black;
  color: rgba(255,255,255,.8)!important;
  background: rgba(0,0,0,.5);
  text-shadow: none;
  font-size: 75%;
  font-style: italic;
  padding: .2em .5em;
  line-height: 1.1;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.main-article-details-page-content .article-details-img .cover-text:hover {
	opacity: 1;
}

.article-content>p {
	margin: 1.5rem 0;
}

.ck-content .image {
	text-align: left !important;
}

/* .article-content>p>strong {
	color: #45a1a1;
} */

.article-details-page-item .article-details-page-item-post .post-man-avatar img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

.article-details-page-item .article-details-page-item-header>h1 {
	font-size: 23px !important;
	font-weight: 600 !important;
}

/*.article-details-page-item .article-details-page-item-post*/ .post-man-avatar div label {
	margin-bottom: 0;
	font-size: 14px;
}

.article-details-page-item .article-details-page-tags {
	margin: .5rem 0;
	padding-left: 0;
}

.article-details-page-item .article-details-page-tags .article-details-page-tags-item {
	margin: .1rem .1rem .1rem 0;
	border: .5px solid #eee;
	border-radius: 25px;
}

.article-details-page-item .article-details-page-tags .article-details-page-tags-item a {
	padding: 0 .5rem .1rem;
	color: #111;
	font-size: 70%;
}

.article-details-page-item .article-details-page-tags .article-details-page-tags-item i {
	color: #3474bb;
	opacity: 0.9;
	margin-right: .3rem;
}

.article-details-page-item .sns-share .sns-share-fb {
	background: #5c83b0;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

.article-details-page-item .sns-share a {
	margin: 0 0 0 .3rem;
}

.article-details-page-item .sns-share {
	margin: 0 0 2rem 0;
}

.article-details-page-item .sns-share .sns-share-fb i {
	font-size: 12px;
	color: #fff;
}

.article-details-page-item .sns-share .sns-share-twt {
	background: #3fc0f0;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

.article-details-page-item .sns-share .sns-share-twt i {
	color: #fff;
	font-size: 12px;
}

.article-details-page-item .article-content-heading {
    padding: .2em .3em;
    border-top: 4px double #0050aa;
    border-bottom: 4px double #0050aa;
    border-left: none;
    position: relative;
    font-size: 150%;
    font-weight: 700;
}

.article-content img {
	max-width: 720px;
	margin-bottom: 1.5rem;
}

.thumb-box {
	margin-left: 0 !important;
	margin-right: 0 !important;
	border: 1px solid #eee;
	margin: 1rem 0;
	height: 175px;
	overflow: hidden;
	position: relative;
}

.thumb-box .thumb-img {
	padding-right: 0;
	padding-left: 0;
	height: 100%;
}

.thumb-box .thumb-img img {
	width: 100%;
	height: 100%;
}

.thumb-box .thumb-content {
	padding: 15px;
	position: relative;
	color: #111;
}

.thumb-box .thumb-content .container-thumb-content {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.thumb-box .thumb-content .container-thumb-content>h4 {
	margin-bottom: 25px;
	display: block;
	font-weight: 700;
}

.thumb-box .thumb-content .container-thumb-content>p {
	height: 50px;
	display: block;
	overflow: hidden;
}

.thumb-box .thumb-content .container-thumb-content>p {
	opacity: 0.5;
}

.thumb-description {
	position: absolute;
	bottom: -10px;
	right: 15px;
	font-size: 85%;
	font-style: italic;
	color: #111;
	opacity: 0.7;
}

.sns-share-end {
	width: 100%;
	margin: 1.5rem 0 !important;
	padding: 0 !important;
}

.sns-share-end .sns-share-fb {
	background: #5c83b0;
	width: calc(50% - 3px) !important;
	margin: 0;
	position: relative;
	padding: 8px 5px;
	color: #fff;
	font-weight: 500;
}

.sns-share-end .sns-share-twt {
	background: #3fc0f0;
	width: calc(50% - 3px) !important;
	margin: 0;
	margin-left: 6px;
	position: relative;
	padding: 8px 5px;
	color: #fff;
	font-weight: 500;
}

.sns-share-end .sns-share-fb>i {
	color: #fff;
	font-size: 26px;
	margin-right: .4rem;
}

.sns-share-end .sns-share-twt>i {
	color: #fff;
	font-size: 26px;
	margin-right: .4rem;
}

.related-article {
	background: #eee;
	padding: 12px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.related-article h3 {
	color: #333;
	padding: 0 0 0 5px;
	display: block;
	text-align: left;
	border-left: 5px solid #0050aa;
}

.related-article ul .related-article-item {
	/*margin-right: 15px;*/
	padding: 0;
	margin: 1rem 0;
}

.related-article ul .related-article-item .related-article-item-img {
	width: 28%;
	padding-right: 8px;
}

.related-article ul .related-article-item .related-article-item-img a>img {
	width: 100%;
	height: 90px;
}

.related-article ul .related-article-item .related-article-item-content {
	width: 72%;
	color: #111;
}

.related-article ul .related-article-item .related-article-item-content a>div {
	padding: 0 25px 0 0;
}

.related-article ul .related-article-item .related-article-item-content .related-article-item-content-title {
	overflow: hidden;
	line-height: 1.3;
	font-size: 13px;
	color: #111;
}

.related-article ul .related-article-item .related-article-item-content .related-article-item-content-author {
	margin-top: auto;
	font-size: 12px;
	color: #111;
	opacity: 0.5;
	padding-top: 25px;
}

.content-space {
  font-size: 300%;
  letter-spacing: 0;
  white-space: nowrap;
  width: auto;
  text-align: center;
  margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.content-space>a {
	display: inline-block;
	color: #eee;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content-space>a i {
	color: #eee;
}


/*--x-- 003-article details page --x--*/

/*-- 004-search page --*/

.main-search-page {
	background: #ffffff;
	/*padding: 25px 0;*/
}

.main-search-page-result {
	background: #ffffff;
	padding: 25px 0;
}

.search-page-header div .search-page-input {
	border: none;
	position: relative;
	width: 100%;
	background: #fff;
	padding: 20px 15px;
}

.search-page-header div .search-page-input .search-input-search-page {
	width: 100%;
	padding: 5px;
	border: none;
	/*border-left: .2rem solid #b1b1b1;*/
	background: #fff;
	font-size: 18px;
}

.search-page-header div .search-page-input>button {
	position: absolute;
	border: none;
	top: 30%;
	right: 15px;
	background: #fff;
}

.search-page-header,.search-page-result-header div .search-page-input>button>i, .search-page-result-header>div>h5>i {
	font-size: 20px;
	font-weight: 600;
}

.search-page-result-header>div>h5>i {
	margin-right: 1rem;
}

/*--x-- 004-search page --x--*/

/*-- 005-terms of service --*/

.main-term-of-service-page {
	background: #ffffff;
	padding: 25px 0;
}

.main-term-of-service-page .term-of-service-page-header div>h1 {
	font-weight: 900;
}

.term-of-service-content .term-of-service {
	margin-top: 25px;
}

.term-of-service-content .term-of-service>h3 {
	border-left: 4px solid #0050aa;
	padding: 0 1rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
}

/*--x-- 005-terms of service --x--*/

/*-- 006-privacy policy --*/

.main-privacy-policy-page {
	background: #ffffff;
	padding: 25px 0;
}

.main-privacy-policy-page .privacy-policy-page-header div>h1 {
	font-weight: 900;
}

.privacy-policy-content .privacy-policy {
	margin-top: 25px;
}

.privacy-policy-content .privacy-policy>h3 {
	border-left: 4px solid #0050aa;
	padding: 0 1rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
}

.privacy-policy-content .privacy-policy>h4 {
	padding: .5rem 1rem;
	border-bottom: 1px solid #111;
	margin-bottom: 1.5rem;
	font-weight: 600;
}


/*--x-- 006-privacy policy --x--*/

/*-- 007-inquiry --*/

.main-inquiry-page {
	background: #ffffff;
	padding: 25px 0;
}

.inquiry-form>label {
	padding: 0;
	margin: 0;
}

.inquiry-form>input[name="email"] {
	padding: 0;
	max-width: 100%;
	width: 30rem;
	margin-bottom: 15px;
	padding: 5px;
	color: #111;
}

.inquiry-form>textarea[name="message"] {
	max-width: 100%;
	width: 30rem;
	height: 15rem;
	max-width: 100%;
	margin-bottom: 15px;
	padding: 5px;
}

.inquiry-form>input[type="submit"] {
	max-width: 100%;
	width: 30rem;
	padding: 6px;
	border: none;
	color: #fff;
	background: #c43638;
}

.inquiry-form .error-msg {
	color: #800;
	font-size: 80%;
    font-weight: bold;
    margin-right: 0;
    margin-bottom: 15px;
}

/*--x-- 007-inquiry --x--*/

/*-- 008-feature list page --*/

.main-feature-list-page {
	background: #ffffff;
	padding: 25px 0;
}

.main-feature-list-page .container .feature-list-page-header {
	height: 200px;
}

.main-feature-list-page .container .feature-list-page-header .feature-list-page-header-img {
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

.left-feature-list-page .feature-list-page {
	margin: 0;
}

.left-feature-list-page .feature-list-page .feature-list-page-item {
	margin-bottom: 2rem;
}

.left-feature-list-page .feature-list-page .feature-list-page-item a>.feature-list-page-item-content {
	background-size: cover !important;
	background-position: center !important;
	width: 100%;
	height: 100%;
}

/*-x- 008-feature llist page -x-*/

/*-- 009-series list page --*/

.main-series-list-page {
	background: #ffffff;
	padding: 25px 0;
}

.main-series-list-page .container .series-list-page-header {
	height: 200px;
}

.main-series-list-page .container .series-list-page-header .series-list-page-header-img {
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

.left-series-list-page .series-list-page {
	margin: 0;
}

.left-series-list-page .series-list-page .series-list-page-item {
	/* padding: 0 15px 15px 0; */
	margin-bottom: 2rem;
}

/* .left-series-list-page .series-list-page .series-list-page-item a>.series-list-page-item-content {
	background-size: cover !important;
	background-position: center;
	width: 100%;
	height: 100%;
} */

.left-series-list-page .series-list-page .series-list-page-item a:hover .text-center label {
	color: #007bff;
}

.left-series-list-page .series-list-page .series-list-page-item a:hover .text-center label>i {
	color: #007bff;
}

.left-series-list-page .series-list-page .series-list-page-item a>.text-center>img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.left-series-list-page .series-list-page .series-list-page-item a>.text-center {
	border: 1px solid #111;
}

.left-series-list-page .series-list-page .series-list-page-item a>.text-center>label {
	padding: 12px 20px 8px 20px;
    color: #111;
    height: 65px;
	cursor: pointer;
}

.left-series-list-page .series-list-page .series-list-page-item a>.text-center>label .fa-tag {
	margin-right: 5px;
}

.left-series-list-page .series-list-page .series-list-page-item a>.text-center>img {
	height: 260px;
	object-fit: cover;
}

/*-x- 009-series list page -x-*/


text-18-md-14, .right-feature-link, .right-rank-link {
	font-size: 18px !important;
}

text-26-md-32 {
	font-size: 26px !important;
}


/*-- media query screne --*/

@media (min-width: 320px) {
	header {
		position: fixed;
		width: 100%;
		z-index: 10000;
		background: #111;
		height: 75px !important;
		top: 0;
	}

	#navbar-main li {
		margin: 0 .5rem;
	}

	.logo div a>img {
		height: 50px;
	}

	header>.container {
		margin-bottom: 0 !important;
	}

	/*-- 01/11/2019 --*/

	.main {
		/* padding-top: 65px !important; */
		margin-top: 75px;
	}

	.carousel-control-prev label, .carousel-control-next label {
		display: none;
	}

	.nav-menu>div>.navbar-nav {
		/* position: absolute; */
		margin-top: 2rem;
		width: 100%;
		top: -50px;
		left: 0;
		background: #111;
		z-index: 10000;
	}

	#navbar-main a {
		color: #ffffff;
		padding: 1rem 0 1rem 0;
		border-bottom: 1px solid #fff;
		border-top: 1px solid #fff;
	}

	/* #navbar-main ul li .navbar-hide-menu {
		position: absolute;
		top: 0;
		right: 2rem;
		border: none;
	} */

	#navbar-main ul li.active {
		border-bottom: none !important;
	}

	#navbar-main li:hover {
		border-bottom: none;
	}

	.social a>.fa-facebook-f,
	.social a>.fa-twitter,
	.social a>.fa-instagram {
		display: none !important;
	}

	.social {
		margin: 1rem 0 0 0;
	}

	.pagination-full {
		display: none !important;
	}

	.pavigation-responsive {
		width: 300px;
		display: flex !important;
		margin: auto;
	}

	.pavigation-responsive>.page-item {
		width: 50% !important;
		text-align: center;
	}

	.pavigation-responsive>.page-item>.page-link {
		padding: 1rem !important;
	}

	/*-x- 01/11/2019 -x-*/

	/*-- 04/11/2019 --*/

	.rank-content .card-ranking-content .ranking-number h3::before {
		content: '';
		display: block;
		background: #cdcdcd;
		width: 15%;
		height: 2px;
		top: 50%;
		left: 25%;
		position: absolute;
	}

	.rank-content .card-ranking-content .ranking-number h3 {
		text-align: center;
		position: relative;
		display: block;
		font-size: 26px;
	}

	.rank-content .card-ranking-content .ranking-number h3 span {
		padding:0 1rem;
		position: relative;
		z-index: 1;
	}

	.rank-content .card-ranking-content .ranking-number h3::after {
	 	content: '';
		display: block;
		background: #cdcdcd;
		width: 15%;
		height: 2px;
		position: absolute;
		right: 25%;
		top: 50%;
		z-index: 0;
	}

	.rank-content .card-ranking-content {
		display: flex;
	}

	.rank-content .card-ranking-content .card-ranking .card-ranking-img {
		position: relative;
		display: block;
		margin: 0 1rem 0 0;
	}

	.rank-content .card-ranking-content .card-ranking .card-ranking-img>img {
		width: 100%;
		max-width: 100%;
		height: 150px;
		object-fit: cover;
		object-position: center;
		margin: 0;
	}

	.rank-content .card-ranking-content .card-ranking .card-ranking-txt {
		width: 100% !important;
		overflow: hidden;
		display: -webkit-box;
    	-webkit-line-clamp: 3;
    	-webkit-box-orient: vertical;
		text-align: left;
	}

	.rank-content .card-ranking-content .card-ranking .card-ranking-txt>label {
		cursor: pointer;
	}

	footer .container .footer-logo img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	/*-x- 04/11/2019 -x-*/

	/*-- 05/11/2019 --*/
	
	.main-category-content .container .category-header div h3 {
		margin: 5.5% 0;
	}

	.category-content .category-content-item-list .category-content-item>.row .category-content-item-content {
		display: none;	
	}

	.category-content .category-content-item-list .category-content-item>.row .category-content-item-post {
		display: none;	
	}

	.category-content .category-content-item-list .category-content-item>.category-item-text .category-content-item-title {
		font-weight: 300 !important;
		font-size: 100%;
		line-height: 1.5rem;
	}

	.feature .container,.rank .container,.series .container h3 {
		text-align: center;
	}

	.category-content-right h2 {
		text-align: center;
	}

	/*-x- 05/11/2019 -x-*/

	/*-- 06/11/2019 --*/

	/* footer {
		padding: 0;
	} */

	footer div .footer-content>div>img {
		display: none !important;
	}

	.section-menu-footer .menu-footer {
		padding: 0 30px !important;
	}

	.menu-footer .menu-footer-item {
		border: 1px solid #fff;
		padding: 15px;
		margin-bottom: 0 !important;
		max-width: 50%;
	}

	.menu-footer .menu-footer-item .menu-footer-link::before {
		content: '• ';
		display: none;
	}

	.feature-list-page-header div h3 {
		margin: 5.5% 0;
	}

	.series-list-page-header div h3 {
		margin: 5.5% 0;
	}

	/*-x- 06/11/2019 -x-*/

	/*-- 20/11/2019 --*/

	.footer-list .footer-list-item {
		border-bottom: 1px solid #fff !important;
		padding: 15px 0 !important;
	}

	.footer-list .footer-list-item .footer-list-link::before {
		content: '• ';
		display: none !important;
	}

	.footer-list,.footer-list-item {
		margin-bottom: 0 !important;
	}

	/*-- x -- 20/11/2019 -- x --*/

	footer .container .footer-logo {
		display: block;
	}

	footer .container .footer-logo img {
		margin: 1rem auto 0 auto;
	}

	.rank-content .card-ranking-content {
		padding: 15px;
		max-width: 100%;
	}
	
	.left-feature-list-page .feature-list-page .feature-list-page-item {
		padding: 0;
	}

	.card-new-content-img {
		height: 120px;
	}

	.left-series-list-page .series-list-page .series-list-page-item a>.text-center>img {
		height: 255px;
		object-fit: cover;
	}

	.tag-post-title {
		font-size: 21px;
	}

	.carousel-indicators {
		bottom: -65px !important;
	}

	.main-article-details-page-content .container-article-page {
		padding: 0 15px;
	}

	.footer-link-menu {
		font-size: 12px;
	}

	.text-copy-right {
		font-size: 12px;
	}

	.carousel-caption {
		height: 80px;
	}

	.carousel-caption h5 {
		color: #ffffff;
		font-weight: bold;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	footer .container .footer-logo {
		padding-top: calc(4rem - 1rem);
	}
}

@media (min-width: 375px) {
	.rank-content .card-ranking-content {
		padding: 15px;
		max-width: 100%;
	}

	/* footer .container .footer-logo img {
		margin: 0.5rem 20%;
	} */

	/*-- 04/11/2019 --*/
	
	footer .container .footer-logo img {
		margin: 1rem auto;
		display: block;
	}

	/*-x- 04/11/2019 -x-*/

}

@media (min-width: 576px) {
	.rank-content .card-ranking-content {
		padding: 15px;
		max-width: 50%;
	}

	footer .container .footer-logo {
	    display: flex !important;
	    justify-content: center;
		margin: 0 auto;
		padding-top: 4rem;
	}

	footer .container .footer-logo img {
		margin: 0 1rem;
	}

	/*-- 01/11/2019 --*/

	.carousel-control-prev label, .carousel-control-next label {
		display: block;
		font-size: 65%;
		font-weight: 600;
	}

	.social a>.fa-facebook-f,
	.social a>.fa-twitter,
	.social a>.fa-instagram {
		display: block !important;
	}

	.pagination-full {
		display: flex !important;
	}

	.pavigation-responsive {
		display: none !important;
		margin: auto;
	}

	.page-responsive-number {
		display: none;
	}

	/*-x- 01/11/2019 -x-*/

	/*-- 04/11/2019 --*/

	.rank-content .card-ranking-content {
		display: block;
	}

	.rank-content .card-ranking-content {
		width: 100%;
		margin: 1rem 0;
	}

	.rank-content .card-ranking-content .card-ranking .card-ranking-img {
		width: 100% !important;
		margin: 1rem 0;
	}	

	.rank-content .card-ranking-content div h3::before {
		content: '';
		display: block;
		background: #cdcdcd;
		width: 40% !important;
		height: 2px;
		top: 50%;
		left: 0 !important;
		position: absolute;
	}

	.rank-content .card-ranking-content .ranking-number h3 {
		text-align: center;
		position: relative;
		display: block;
		font-size: 26px;
	}

	.rank-content .card-ranking-content .ranking-number h3 span {
		padding:0 1rem;
		position: relative;
		z-index: 1;
	}

	.rank-content .card-ranking-content .ranking-number h3::after {
	 	content: '';
		display: block;
		background: #cdcdcd;
		width: 40% !important;
		height: 2px;
		position: absolute;
		right: 0 !important;
		top: 50%;
		z-index: 0;
	}

	/*-x- 04/11/2019 -x-*/

	/*-- 05/11/2019 --*/
	
	.category-content .category-content-item-list .category-content-item>.row .category-content-item-content {
		display: block;	
	}

	.category-content .category-content-item-list .category-content-item>.row .category-content-item-post {
		display: block;	
	}

	.category-content .category-content-item-list .category-content-item>.category-item-text .category-content-item-title {
		/*font-weight: bold !important;*/
		font-size: 100%;
	}

	/*-x- 05/11/2019 -x-*/

	.footer-link-menu, .text-copy-right  {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 960px !important;
	}

	.rank-content .card-ranking-content {
		padding: 15px;
		max-width: 33.33%;
	}

	/*-- 01/11/2019 --*/

	.carousel-control-prev label, .carousel-control-next label {
		display: block;
		font-size: 75%;
		font-weight: 600;
	}

	/* .nav-menu>div>.navbar-nav {
		position: absolute;
		width: 100%;
		top: -50px;
		left: 0;
		background: #111;
		z-index: 10000;
	} */

	/* #navbar-main a {
		color: #ffffff;
		padding: 1rem 0 1rem 0;
		border-top: 1px solid #fff;
	} */

	#navbar-main ul li.active {
		border-bottom: none;
	}

	.nav-menu .navbar-show-menu {
	    position: absolute;
	    z-index: 1111;
	    top: -30px;
	    left: 0;
	}

	/*-x- 01/11/2019 -x-*/

	/*-- 04/11/2019 --*/

	/*-x- 04/11/2019 -x-*/

	/*-- 05/11/2019 --*/
	
	.main-category-content .container .category-header div h3 {
		margin: 15.5% 0;
	}

	/*-x- 05/11/2019 -x-*/

	/*-- 06/11/2019 --*/

	/* footer {
		padding-top: 80px;
	} */
	
	footer div .footer-content>div>img {
		margin: auto;
		display: block !important;
	}

	.menu-footer .menu-footer-item {
		padding: 0 0 0 1rem;
		margin-bottom: 15px !important;
		border: none;
		max-width: 100%;
	}

	.menu-footer .menu-footer-item .menu-footer-link::before {
		content: '• ';
		display: inherit;
	}

	.feature-list-page-header div h3 {
		margin: 15.5% 0;
	}

	.series-list-page-header div h3 {
		margin: 15.5% 0;
	}

	/*-x- 06/11/2019 -x-*/

	/*-- 20/11/2019 --*/

	.footer-list .footer-list-item {
		border: none !important;
		padding: 0 !important;
	}

	.footer-list .footer-list-item .footer-list-link::before {
		content: '• ';
		display: inherit !important;
	}

	.footer-list .footer-list-item {
		margin-bottom: 15px !important;
	}

	/*-- x -- 20/11/2019 -- x --*/

	.left-feature-list-page .feature-list-page .feature-list-page-item {
		padding-right: 2rem;
		margin-bottom: 2rem;
	}

	.card-new-content-img {
		height: 250px;
	}

	.left-series-list-page .series-list-page .series-list-page-item a>.text-center>img {
		height: 160px;
		object-fit: cover;
	}

	.tag-post-title {
		font-size: 32px;
	}

	.carousel-indicators {
		bottom: 0 !important;
	}

	.main-article-details-page-content .container-article-page {
		padding: 0;
	}

	.carousel-caption {
		height: 150px;
	}

	.carousel-caption h5 {
		color: #ffffff;
		font-weight: bold;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	.feature .container label {
		font-size: 14px;
	}
	.right-feature-link, .right-rank-link {
		font-size: 14px !important;
	}

	.series .container label {
		font-size: 14px;
	}

	.category-content-right h2 {
		font-size: 26px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 1200px !important;
	}

	/*-- 01/11/2019 --*/

	.nav-menu>div>.navbar-nav {
		/* position: absolute; */
		margin-top: 0;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		background: #111;
		z-index: 10000;
	}

	#navbar-main li {
		margin: 0 2rem;
	}

	#navbar-main a {
		color: #ffffff;
		padding: 1rem 0 .5rem 0;
		border: none;
	}

	#navbar-main ul li.active {
		border-bottom: 3px solid #0050aa !important;
	}

	#navbar-main li:hover {
		border-bottom: 3px solid #0050aa;
	}

	/*-x- 01/11/2019 -x-*/

	/*-- 05/11/2019 --*/
	
	.feature .container,.rank .container,.series .container h3 {
		text-align: left;
	}

	.category-content-right h2 {
		text-align: left;
	}

	/*-x- 05/11/2019 -x-*/

	/*-- 06/11/2019 --*/
	
	footer div .footer-content>div>img {
		margin: auto;
		display: block !important;
	}

	/*-x- 06/11/2019 -x-*/

	header {
		position: fixed;
		width: 100%;
		z-index: 10000;
		background: #111;
		height: 170px !important;
		top: 0;
	}

	header>.container {
		margin-bottom: 3.5rem !important;
	}

	.main {
		/* padding-top: 130px !important; */
		margin-top: 170px;
	}

	.social {
		margin: 1.6rem 0 0 0;
	}

	.logo div a>img {
		height: 70px;
	}

	.left-feature-list-page .feature-list-page .feature-list-page-item {
		/* padding-left: 0; */
		padding-right: 2rem;
		margin-bottom: 2rem;
	}

	.left-series-list-page .series-list-page .series-list-page-item a>.text-center>img {
		height: 260px;
		object-fit: cover;
	}
}

@media (min-width: 1024px) {
	.rank-content .card-ranking-content {
		padding: 15px;
		max-width: 20%;
	}

	/*-- 01/11/2019 --*/

	.carousel-control-prev label, .carousel-control-next label {
		font-size: 100%;
		font-weight: 600;
	}

	#navbar-main a {
		color: #ffffff;
		padding: 1rem 0 .5rem 0;
		border: none;
	}

	/*-x- 01/11/2019 -x-*/
}

/*--x-- media query screne --x--*/

/*-- fix css --*/

/*-- 01/11/2019 --*/

.main {
	background: #111111;
	padding-top: 130px;
}

.nav-menu .navbar-toggler {
	position: absolute;
	z-index: 1111;
	top: -30px;
}

.carousel-control-prev div, .carousel-control-next div {
	padding: 0;
	border: 1px solid #fff;
	cursor: pointer;
}

.carousel-control-prev label, .carousel-control-next label {
	color: #fff;
	margin-bottom: 0 !important;
	padding: 10px 12px;
	cursor: pointer;
}

/*-x- 01/11/2019 -x-*/

/*-- 04/11/2019 --*/

.img-wrap {
	background-position: center !important;
	background-size: cover !important;
}

.img-contain {
	background-position: center !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

.card-ranking-content,.card-ranking-content>.card-ranking-txt>label {
	color: #111;
	cursor: pointer;
}

/* .feature .feature-content .card-feature>a>div {
	border: 1px solid #111;
} */

.follow .instagram-posts .instagram-posts-scrolls li img {
	width: 220px;
	height: 200px;
	object-fit: cover;
	visibility: hidden;
}

.new-content .card-content .card-new-content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	visibility: hidden;
}

.feature .feature-content img {
	width: 100%;
	height: auto;
	/* visibility: hidden; */
}

.series-card-content a>div>label {
	cursor: pointer;
	color: #111;
}

/* .series-card-content a>div>label:hover {
	color: #007bff;
} */

.series-card-content:hover a div label {
	color: #007bff;
}

.series-card-content a>div>img {
	height: 260px;
	object-fit: cover;
}

footer .container .col-12>#page-top {
	padding: 1rem 0;
	cursor: pointer;
	background: #fff;
	color: #111;
}

/*-x- 04/11/2019 -x-*/

/*-- 05/11/2019 --*/

.main-category-content .container .category-header {
	height: auto;
}

/* .main-category-content .container .category-header div .category-header-img {
	height: 200px;
} */

.category-content .category-content-item-list .category-content-item {
	margin-bottom: 25px;
	height: 150px;
	overflow: hidden;
}

.category-content .category-content-item-list .category-content-item>.row {
	height: 100%;
	overflow: hidden;
}

.category-content .category-content-item-list .category-content-item img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	object-position: center;
}

.category-content .category-content-item-list .category-content-item>.category-item-text .category-content-item-title {
	height: 50px;
	/* margin-bottom: 5px; */
	overflow: hidden;
}

.category-content .category-content-item-list .category-content-item>.category-item-text div {
	padding-right: 0;
}

.category-content .category-content-item-list .category-content-item>.category-item-text .category-content-item-title a {
	color: #111;
}

.category-content .category-content-item-list .category-content-item>.category-item-text .category-content-item-title a:hover {
	color: #007bff;
}

.category-content .category-content-item-list .category-content-item-content {
	margin-bottom: 0;
}

/* .category-content-right .category-content-right-feature-item {
	padding: 0;
	width: 100%;
	height: 140px;
} */

.category-content-right .category-content-right-feature-item img {
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.related-article ul .related-article-item {
	height: 80px;
}

.related-article ul .related-article-item .related-article-item-img {
	width: 80px;
	padding-right: 8px;
}

.related-article ul .related-article-item .related-article-item-img a>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.related-article ul .related-article-item .related-article-item-content a>div {
	padding: 0 25px 0 0;
}

.related-article ul .related-article-item .related-article-item-content .related-article-item-content-title {
	overflow: hidden;
	line-height: 1.3;
	height: 64px;
	font-size: 13px;
	color: #111;
}

.related-article ul .related-article-item .related-article-item-content .related-article-item-content-author {
	height: 15px;
	font-size: 12px;
	color: #909090;
	opacity: 1;
	overflow: hidden;
	padding-top: 0;
}

.thumb-box .thumb-content .container-thumb-content>h4 {
	margin-bottom: 25px;
	display: block;
	height: 55px;
	overflow: hidden;
	font-weight: 700;
}

.thumb-box .thumb-content .container-thumb-content>p {
	height: 50px;
	display: block;
	overflow: hidden;
}

.post-man-avatar>img {
	object-fit: cover;
	object-position: center;
}

/*-x- 05/11/2019 -x-*/

/*-- 06/11/2019 --*/

footer div .footer-content>div {
	position: relative;
}

footer div .footer-content>div>img {
	margin: auto;
	display: block;
}

.menu-footer .menu-footer-item {
	padding-left: 1rem;
	margin-bottom: 15px;
}

.menu-footer .menu-footer-item .menu-footer-link {
	color: #fff;
}

.category-content-right {
	padding-left: 15px !important;
}

.main-feature-list-page .container .feature-list-page-header {
	height: auto;
}

.main-feature-list-page .container .feature-list-page-header .feature-list-page-header-img {
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 100%;
}

.main-series-list-page .container .series-list-page-header {
	height: auto;
}

.main-series-list-page .container .series-list-page-header .series-list-page-header-img {
	height: 200px;
}

/*-x- 06/11/2019 -x-*/

/*-- 14/11/2019 --*/

.new-content .card-content .card-new-content a{
	color: #fff;
}

.category-content-right-series .category-content-right-series-item div p a{
	color: #111;
	padding-right: 10px;
	width: 100%;
	height: 100%;
}

.category-content-right-series .category-content-right-series-item div p a:hover {
	color: #007bff;
}

.category-content-right-follow .category-content-right-follow-item {
	padding: 0;
}

.category-content-right-follow .category-content-right-follow-item a {
	width: 100%;
	height: 100%;
}

.summary-content {
	margin: 15px 0;
}

/*-x- 14/11/2019 -x-*/

/*-- 18/11/2019 --*/

.inquiry-form>input[name="email"] {
	margin-bottom: 0;
}

.inquiry-form>textarea[name="message"] {
	margin-bottom: 0;
}

.inquiry-form>input[type="submit"] {
	margin-bottom: 50px;
}

.inquiry-form #email_error,#msg_error,#error {
    margin-bottom: 15px !important;
}

/*-x- 18/11/2019 -x-*/

/*-- 19/11/2019 --*/

header {
	height: auto;
}

.main {
	padding-top: 0 !important;
}

/*-x- 19/11/2019 -x-*/

/*-- 20/11/2019 --*/

.section-footer-list .footer-list {
	padding: 0 !important;
}

.footer-list .footer-list-item {
	border: 1px solid #fff;
	padding: 15px;
	max-width: 50%;
}

.footer-list .footer-list-item .footer-list-link::before {
	content: '• ';
	display: none;
}

.footer-list .footer-list-item {
	padding: 0 0 0 1rem;
	border: none;
	max-width: 100%;
}

.footer-list .footer-list-item .footer-list-link::before {
	content: '• ';
	display: inherit;
}

.footer-list .footer-list-item {
	padding-left: 0;
}

.footer-list .footer-list-item .footer-list-link {
	color: #fff;
}

.section-menu-footer .menu-footer {
	padding: 0 !important;
	margin-bottom: 0;
}

footer .container .col-12>#page-top {
    /* margin-bottom: 1rem; */
    padding: 1rem 0;
    cursor: pointer;
	background: #fff;
	color: #111;
}

/*-- x -- 20/11/2019 -- x --*/

.background-image {
	display: block;
	margin: 0 auto;
}

.post-man-name, .post-man-date {
	font-size: 14px;
	margin-bottom: 0;
}

/*--x-- fix css --x--*/