img {
	max-width: 100%;
}
.side-bar-items.active {
	background-color: #ffffff;
	color: #111111;
}

.side-bar-items.active i {
	color: #111111;
}

.side-bar-items.active .side-bar-links{
	color: #111111;
	text-decoration: none;
}

.side-bar-items.active p{
	color: #111111;
}

/* slider images */
.block-sliders .slider-item {
	padding: 15px;
	border: 1px dotted #ccc;
	margin-bottom: 15px;
}
.block-sliders .slider-item .add-slide-files {
	background: #111111;
	color: #ffffff;
	margin: 10px 15px 0 0;
	cursor: pointer;
}
.block-sliders .slider-item .delete-slider {
	display: inline-block;
	color: gray;
	font-size: 20px;
	vertical-align: middle;
	margin-top: 10px;
}
.block-sliders .slider-item .delete-slider i {
	color: gray;
}
.block-sliders .slider-images:after {
	content: '';
	display: block;
	clear: both;
}
.block-sliders .slider-images .slider-image {
	position: relative;
	width: calc((100% - 105px) / 8);
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.block-sliders .slider-images .slider-image > div {
	padding-bottom: 75%;
	background-position: center;
	background-size: cover;
}
.block-sliders .slider-images a.remove {
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  text-align: center;
}
.block-sliders .slider-images a.remove i {
	line-height: 25px;
	color: #fff;
}
.cover-img-radio input {
	margin-bottom: 0.5rem;
}
.cover-img-radio label {
	position: relative;
}
.cover-img-radio label a{
	position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  text-align: center;
}
.cover-img-radio label a i {
	line-height: 25px;
	color: #fff;
}
.media-table-library .media-other-size {
	padding-left: 20px;
}
.media-table-library .media-other-size:after {
	content: '';
	display: block;
	clear: both;
}
.media-table-library .media-other-size a {
	color: #c43638;
}
.media-table-library a.link-hold-to-copy.copied,
.media-table-library a.link-hold-to-copy.copied span {
	color: #fff;
	background: #c43638;
}
.media-table-library .media-other-size li{
	list-style: none;
	float: left;
	margin-right: 5px;
}
.media-table-library .media-other-size li:after{
	content: '-';
	display: inline;
	margin-left: 5px;
}
.media-table-library .media-other-size li:last-child:after{
	display: none;
}
/* Modal library */
#library-main .nav-tabs {
	margin: 0 -1rem;
	width: calc(100% + 2rem);
}
#library-main .nav-tabs > .nav-item:first-child {
	padding-left: 1rem;
}
#library-main .nav-tabs > .nav-item:last-child {
	padding-right: 1rem;
}
#library-main .modal-header {
	border-bottom: 0;
}
#library-main .modal-body {
	padding-top: 0;
}
#library-main .row.list-medias {
	margin-right: -10px !important;
  margin-left: -10px !important;
}
#library-main .row.list-medias > div {
	padding: 10px;
}
#library-main .media-item {
	display: block;
	border: 1px solid #ccc;
}
#library-main .media-item img{
	width: 100%;
}

.-content .image>figcaption {
	text-align: left !important;
}