body {
	margin: 0;
	padding: 0;
	/* display: grid; */
	box-sizing: border-box;
/*	font-family: Meiryo, Georgia, "Times New Roman", Times, serif ! important;*/
	/*font-family: Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;*/
	font-family: 'Herlvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', sans-serif !important;
}

/*---------- global ----------*/

.admin-header {
	width: 100%;
	z-index: 0;
	/*background: #111111;*/
	background: #D34725 !important;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.side-bar {
	width: 250px;
	height: 0;
}

.main {
	width: 100%;
	margin: 1rem;
	overflow: hidden;
}

.side-bar-menu {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	color: #ffffff;
}

.dropdown-toggle::after {
	float: right;
	margin: .5rem 0 0 0;
}

.btn-no-radius {
	border-radius: 0 !important;
}

.text-info-txt {
	margin: 2rem 0;
	/*opacity: .5;*/
}

.label-admin-edit {
	text-align: right !important;
	font-weight: bold;
}

.dash-border-box {
	border-width: .5px; 
	border-color: #cccccc; 
	border-style: dashed;
}
/*-------main--------*/

/*.post-edit{
	margin-left: 50px;
    margin-top: 20px;
}*/

.sub-title{
	margin-top: 2.5rem;
}

.sub-title h3{
	margin-left: 1rem;
	/*color: #757575;*/
}
.posts{
	margin-left:2rem;
    margin-top: 15px;
    width: 70%;
    color: #989898;
}
.button{
	width:250px !important;
	/*margin-left:5%;*/
	margin-top: 15%;
}
/*-----x----- global -----x-----*/

/*---------- 001-login ----------*/

.admin-login {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.admin-login div {
	margin: 1rem 0;
	padding: 0 15px;
}

.admin-login div img {
	max-width: 100%;
	height: 60px;
}

.admin-login-input-group input {
	margin: 1rem .5rem;
}

.admin-login-btn {
	background:  #D34725 !important;
	/*background: #111111 !important;*/
	color: #ffffff !important;
}

.forget-txt a {
	color: #111111;
}

.forget-txt i {
	width: 25px;
	color: #111111;
	font-size: 16px;
}

.text-edit{
	background-color:#FAF7EA;
	margin: 0 auto;
	/*width:90% !important;
	height:50% !important;*/
	/*margin-left: 23px !important;*/
}

/*.text-edit p{
	padding: 10px;
	margin-left: 5px;
	font-size: 12px;
}*/
/*-----x-----001-login -----x-----*/

/*---------- 002-manager ----------*/

.admin-header .logo {
	margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.admin-header .logo img {
	height: 35px;
}

.admin-header .float-right {
	margin: .8rem 0;
}

.logout-txt a {
	color: #ffffff;
	margin: 1rem;
}

.logout-txt i {
	color: #ffffff;
}

.avatar-img {
	margin: 2rem 0 .5rem 0;
}

.avatar-img img{
	width: 80px;
	height: 80px;
}

.avatar .avatar-txt {
	/*width: 200px;*/
	/*text-align: left;*/
	margin: 0 auto;
	font-size: 14px;
}

.setting-choice {
	margin: 2rem 0;
}

/*.setting-choice i {
	font-size: 100px;
}*/

.setting-choice img {
/*	width: 100px;
	height: 100px;*/
	width: 65px;
	height: 65px;
}

.setting-choice div {
	margin: 2rem 0;
}

.setting-choice div p {
	margin-top: 1rem;
}

.setting-choice div a {
	color: #333333;
	text-decoration: none;
}

/*-----x----- 002-manager -----x-----*/

/*---------- 003-administration-edit your information ----------*/

/*.admin-edit {
	width: 100%;
	display: flex;
}*/

.avatar-admin-img {
	margin:0 auto;
}

.avatar-admin-img img {
	width: 75px;
	height: 75px;
}

.avatar-admin p {
	text-align: center;
	margin: 0;
	/*color: #ffffff;*/
	color: #111111 !important;
}

.admin-edit nav {
	background: #111111;
}

/* .side-bar-menu {
	padding: 0;
} */

.side-bar-items {
	padding: .5rem;
	cursor: pointer;
}

.side-bar-links:hover {
	/*background-color: #ffffff;
	color: #111111;*/
	cursor: default;
}

.side-bar-links:hover i {
	color: #111111;
}

.side-bar-links:hover {
	color: #111111;
	text-decoration: none;
}

/*.side-bar-links:hover p{
	color: #111111;
}*/

.side-bar-items i {
	width: 20px;
	color: #ffffff;
}

.side-bar-links,i {
	color: #ffffff;
}

.media-manager-screen-menu {
	background: #0050AA;
}

/*-----x----- 003-administration-edit your information -----x-----*//*---------- 003-administration-edit your information ----------*/

.admin-edit {
	width: 100%;
	height: 100%;
	display: flex;
}

.avatar-admin-img {
	margin: auto;
}

.avatar-admin-img img {
	width: 75px;
	height: 75px;
}

.avatar-admin p {
	text-align: center;
	margin: 0;
	color: #ffffff;
}

.admin-edit nav {
	background: #111111;
}

/* .side-bar-menu {
	padding: 0;
} */

.side-bar-items {
	padding: .5rem;
	cursor: pointer;
}

.side-bar-items:hover {
	background-color: #ffffff;
	color: #111111;
}

.side-bar-items:hover i {
	color: #111111;
}

.side-bar-items:hover .side-bar-links{
	color: #111111;
	text-decoration: none;
}

.side-bar-items:hover p{
	color: #111111;
}

.side-bar-items i {
	width: 20px;
}

.side-bar-links,i {
	color: #ffffff;
}

.media-manager-screen-menu {
	background: #0050AA;
}

/*-----x----- 003-administration-edit your information -----x-----*/

/*---------- 003-administration-edit your information ----------*/

/*------ admin-edit side-bar ------*/


.avatar-admin-img {
	margin: auto;
}

.avatar-admin-img img {
	width: 75px;
	height: 75px;
}

.avatar-admin p {
	text-align: center;
	margin: 0;
	color: #ffffff;
}

.admin-edit nav {
	background: #111111;
}

.side-bar-menu {
	padding: 0;
}

.side-bar-items {
	padding: .5rem;
	cursor: pointer;
}

.side-bar-items:hover {
	background-color: #ffffff;
	color: #111111;
}

.side-bar-items:hover i {
	color: #111111;
}

.side-bar-items:hover .side-bar-links{
	color: #111111;
	text-decoration: none;
}

.side-bar-items:hover p{
	color: #111111;
}

.side-bar-items i {
	width: 25px;
}

.side-bar-links,i {
	color: #ffffff;
}

.media-manager-screen-menu {
	background: #0050AA;
}

/*---x--- admin-edit side-bar ---x---*/

/*------ admin-edit main section------*/

/*.change-avatar {
	
}
*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
/*    display: inline-block;*/
}
.change-avatar-img-bg {
	background: #f8f8f8;
	/*width: 100%;*/
	padding: 1rem 0;	
}

.change-avatar-img {
	width: 300px;
	/*margin: 0 1.5rem;*/
	/*margin: -9px 1.5rem;*/
	margin: 0 auto;
}

.change-avatar-img input {
	margin: 1rem .5rem;
}

.btn-change-avatar {
	background: #D34725  !important;
	color: #ffffff !important;
}

.admin-edit-info {
	width: 100%;
	margin: 3rem 0;
}

.admin-edit-info .edit-info .form-group .form-check {
	margin: 1.5rem 0;
	float: left;
}

.text-warning {
	width: 100%;
	height: 100%;
	background: #f6f5b6;
}

.text-warning p {
	color: #111111;
	padding: .5rem;
}

.text-warning i {
	width: 25px;
	color: #c4c24a;
}

.edit-info-pass {
	margin: 0 !important;
}

.edit-info-pass .edit-pass div {
	margin: 0;
}

.edit-info-pass .edit-pass div p {
	font-weight: bold;
}

.edit-info-pass .edit-pass div input {
	margin: 0 1rem;
}

.text-info-txt i {
	width: 25px;
	color: #888888;
}

/*.old-pass, .new-pass, .confirm-new-pass {
	width: 98.7% !important;
}*/

.edit-info-sns {
	margin: 3rem 0 !important;
}

.btn-group button {
	margin-right: 1rem;
}

.dropdown-warning label {
	margin: 1rem 0;
}

.btn-back {
	width: 120px;
	height: 40px;
	border: .5px solid #888888 !important;
	color: #ffffff !important;
	background: #D34725 !important;
}

.btn-back i {
	color: #ffffff !important;
}

.btn-submit {
	width: 120px;
	height: 40px;
	background: #D34725 !important;
	color: #ffffff !important;
}

/*---x--- admin-edit main section---x---*/

/*-----x----- 003-administration-edit your information -----x-----*/

/*---------- 004-02-administration contributing new ----------*/
.admin-post-news {
	width: 100%;
	margin: 3rem 0;
}

.cover-img-radio-choice div img:hover {
	border: 5px solid #888888;
}

.tags {
	width: 100%;
}

.tags .tag-menu {
	width: 99%;
	margin: .5rem .5rem 1rem .5rem;
}

.tags .tag-menu .tag-items {
	position: relative;
	border: .5px solid #cccccc;
	padding: 0 5px;
	margin: 5px 5px 5px 5px;
}

.tags .tag-menu .tag-items div {
	position: absolute;
	top: -5px;
	left: -5px;
	width: 12px;
	height: 12px;
	background: #cccccc;
	border-radius: 50%;
}

.tags .tag-menu .tag-items i {
	position: absolute;
	top: 15%;
	left: 22%;
	font-size: 8px;
	text-align: center;
	color: #ffffff;
}

.tags .tag-menu .tag-items label {
	margin: 0;
	padding: 0;
	color: #c43638;
}

.btn-trash {
	width: 120px;
	height: 40px;
	border: .5px solid #888888 !important;
	color: #111111;
	background: #eeeeee !important;
}

.btn-trash i {
	color: #111111;
}

/*-----x----- 004-02-administration contributing new -----x-----*/

/*---------- 005-administration content list ----------*/

/* .pagination-menu .pagination .page-item .page-link,i {
	color: #c43638;
} */

.pagination-menu .pagination .page-item .page-link {
	color: #D34725 !important;
}

/*.table-content-list tbody tr td {
	color: #c43638;
}

.table-content-list tbody tr td a,i {
	text-decoration: none;
	color: #c43638;
}

.table-content-list tbody tr td img{
	width: 60px;
	height: 60px;
	border-radius: 5px;
}*/
.content-table-list {
	overflow: auto;
}

.content-table-list table{
	width: 100%;
	font-size: 12px;
}
.content-table-list th td,th {
	border: .5px solid #DDDDDD;
  	border-collapse: collapse;
 }
.content-table-list tr:nth-child(odd) {
	background-color: #FBFBFB;
}
th, td {
  padding: 15px;
  text-align: left; 
}
.image-ratio-list{
	width: 60px;
	height: 60px;
	background-image: url(../../image/200x150.png);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 5px;
}

.floatLeft { width: 25%; float: left; }
.floatRight {width: 75%; float: right; }
/*-----x----- 005-administration content list -----x-----*/

/*---------- 006-管理者-サイト設定 ----------*/

.edit-img-info{
	background:#f8f8f8;
	height: 442px;
	margin-top: 40px;
}
.edit-img-info .edit-img .form-group .label-edit {
	text-align: right !important;
	margin-top:15px;
}
.text-info{
	width: 80%;
	height: 100%;
	background: #fff;
	margin-top: 0px;
	font-size: 12px;

}
.text-info i p{
	font-size: 13px;
	/*margin-right: 15px;
	margin-left: 5px; */
}
.edit-img-info .edit-img .form-group .text-info button{
	padding: 0px;
	border-radius: 5px;
}
.text-info-text{
    margin-top: 13px;
    margin-left: 30px;
    font-size: 12px;
    
}
.full-site-setting{
	/*margin-left: 183px;*/
	margin-bottom: 1px;
}

/*-----x----- 006-管理者-サイト設定 -----x-----*/

/*----------------017-017-admin-setting-account-----------*/
.setting-account p{
	width: 57%;
	font-size: 12px;
	margin-top: 17px;
	/*margin-left: 25px;*/
}
.setting-account span{
	color: #C43638 ;
}
.setting-account-table table{
  width: 100%;
  font-size: 12px;
  /*margin-lef: 25px;*/
}
.setting-account-table th,td {
	border: .5px solid #DDDDDD;
  	border-collapse: collapse;
 }
.setting-account-table tr:nth-child(odd) {
  background-color: #FBFBFB;
}
.text-account p {
	margin-bottom: 0px;
	font-size: 12px;
	margin-left: 5px;
	opacity:  0.5;
}
/*-------x---------017-admin-setting-account-----x------*/

/*----------------007-administrator-setting/*----------------*/
.setting-table-list table{
  width: 98%;
  font-size: 12px;
  margin-top: 20px;
}
.setting-table-list th,td {
	border: .5px solid #DDDDDD;
  	border-collapse: collapse;
 }
.setting-table-list tr:nth-child(odd) {
  background-color: #FBFBFB;
}
.image-ratio-setting{
	width: 60px;
	height: 60px;
	background-image: url(../../image/img-1.jpg);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 5px;
}
/*--------x--------007-administrator-setting/*--------x--------*/

/*----------------013-administrator-writer-management---------------*/
.wirter-management-table{
	width: 52%;
  	font-size: 12px;
  	background: #dddddd;
}
.wirter-management-table th,tr {
	border: .5px solid #888888;
  	border-collapse: collapse;
 }
.wirter-management-table tr:nth-child(odd) {
  background-color: #F8F8F8;
}
.text-wirter-management p{
	/*margin-left: 4px;*/
    font-size: 13px;
    margin-top: 1px;
    width: 86%;
}
.list-wirter-management{
	margin-top: 15px;
    margin-left: 10px;
}
.list-wirter-management ul{
	margin-top: 1px;
	font-size: 13px;
	/*margin-left: 43px;*/
	width: 45%;
}
.list-wirter-management p{
	font-size: 13px;
	margin-top: 1px;
	/*margin-left: 60px;*/
	orphans: 0.5;
}
.list-wirter-management li {
	margin-top: 5px;
	orphans: 0.5;
}
.list-wirter-management span{
	color: #C43638;	
}

/*--------x--------013-administrator-writer-management-----x---------*/

/*----------------018-content-view--------------*/
.content-table-view table{
  width: 100%;
  font-size: 12px;
  margin-top: 20px;
}
.content-table-view th,td {
	border: .5px solid #DDDDDD;
  	border-collapse: collapse;
 }
.content-table-view tr:nth-child(odd) {
  background-color: #FBFBFB;
}
/*.content-table-view img{
	width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-left: 23px;	
}*/
/*.show-image img{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	background-image: url(D:/UYEN/adiva-world.jp/image/img-1.jpg);
	background-size: cover;
	background-position: 50% 50%;
}*/

.content-table-view a{
	color: #C43638 ;
	text-decoration: none;
}
.image-ratio-content{
	width: 60px;
	height: 60px;
	background-image: url(../../image/img-1.jpg);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 5px;
}

/*----------x------018-content-view----x----------
/*----------------008-administratr-tag-management--------------------*/
.tag-text-management{
	margin-left: 25px;
}
.tag-management-table table{
	width: 70%;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 25px;
}
.tag-management-table th,td {
	border: .5px solid #DDDDDD;
	border-collapse: collapse;
}
.tag-management-table tr:nth-child(odd) {
	background-color: #FBFBFB;
}
.button-tag-management button{
	background-color: white;
	color: black;
	border: 1px solid #555555;
}
.tag-management-table button{
	width: 35px;
}
.text-tag-management p{
	margin-left: 1rem;
}
.text-tag-management span{
	color: #C43638;
}
/*----------x------008-administratr-tag-management--------x------------*/
/*----------------015-administrator-inquiry-manegement-------------------*/

.inquyri-table table{
  width: 100%;
  font-size: 12px;
  margin-top: 20px;
}
.inquyri-table th,td {
	border: .5px solid #DDDDDD;
  	border-collapse: collapse;
 }
.inquyri-table tr:nth-child(odd) {
  background-color: #FBFBFB;
}
.inquyri-table a{
	color: #C43638 ;
	text-decoration: none;
}
/*----------------015-administrator-inquiry-manegement---------x----------*/
/*--fix css--*/
.main-writer {
	width: 100%;
	margin: 0 1.5rem;
}
/*--fix css--*/
/*----------------010-Administrator media library-----------------*/
.media-table-library table{
	width: 100%;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.media-table-library th,td {
	border: .5px solid #DDDDDD;
	border-collapse: collapse;
}
.media-table-library tr:nth-child(odd) {
	background-color: #FBFBFB;
}
/*.media-table-library th, tr, td {
	padding: 15px;
	text-align: left;*/
}
.media-table-library button{
	background-color: white;
	color: black;
	border: 1px solid #555555;
}
.media-table-library button{
	width: 35px;
}	
.media-table-library span{
	color: #C43638;
}
.media-ratio-library{
	width: 60px;
	height: 60px;
	background-image: url(../../image/img-1.jpg);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 5px;
}
.media-text-library p{
	margin-bottom: 0; 
}
/*-----x-----------010-Administrator media library------x-----------*/
/*----------------012-administrator-content-management------------------*/
.content-tabs-management .nav-item.active{
	border: none;
	border-radius: 0;
	border-bottom: 3px solid #C43638 !important;
}
.content-tabs-management{
	background-color: #FFFFFF !important;
}
.content-tabs-management #nav-tab>.nav-link{
	color: black !important;
}
.content-tabs-management {
	margin-top: 70px;
}
.content-table-management table{
	width: 100%;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.content-table-management th,td {
	border: .5px solid #DDDDDD;
	border-collapse: collapse;
}
.content-table-management tr:nth-child(odd) {
	background-color: #FBFBFB;
}
.content-table-management button{
	background-color: white;
	color: black;
	border: 1px solid #555555;
}
.content-table-management button{
	width: 35px;
}	
.content-table-management span{
	color: #C43638;
}
.image-ratio-management{
	width: 50px;
	height: 50px;
	background-image: url(../../image/img-1.jpg);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 5px;
}
.content-table-management p{
	margin-bottom: 0; 
}
/*--------x--------012-administrator-content-management--------x----------*/
/*----------------009-manager-media-contribution------------------*/
.media-table-contribution{
	width: 100%;
	font-size: 12px;
}
.media-table-contribution table,tr{
	border-left: none;
	border-right: none;
}
.text-media-contribution{
	/*width: 100%;*/
    margin-left: 30px;
    font-size: 12px;
    opacity: .5;	
}
/*#myChart {
	width: 300px !important;
	height: 300px !important;
}*/
/*--------x--------009-manager-media-contribution--------x----------*/

/*-- 011-media setting --*/

.media-tabs-management .nav-item.active{
	border: none;
	border-radius: 0;
	border-bottom: 3px solid #C43638 !important;
}
.media-tabs-management{
	background-color: #FFFFFF !important;
}
.media-tabs-management #nav-tab>.nav-link{
	color: black !important;
}
.media-tabs-management {
	margin-top: 50px;
}

.media-edit>.media-edit-form>.row {
	margin: 0;
}

.img-wrap {
	background-position: center !important;
	background-size: cover !important;
}

.media-edit>.media-edit-form>.form-group>div>.dropdown>.dropdown-toggle::after {
	margin-left: 7rem;
}

/*-x- 011-media setting -x-*/

.bar {
	width: 15px;
	height: 2px;
	background-color: #fff;
	display: block;
	transition: .3s ease;
}

#bar1 {
	transform: translatey(-2px);
}

#bar3 {
	transform: translatey(2px);
}

.change #bar1 {
	transform: translatey(2px) rotatez(-45deg);
	transition: .3s ease;
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
	transform: translatey(-2px) rotatez(45deg);
	transition: .3s ease;
}

/*-- responsive --*/

@media (min-width: 320px) {
	
	/*-- 11/11/2019 --*/

	.side-bar {
		background: #111;
		z-index: 999;
		position: absolute!important;
		width: 100%;
		/* top: 0;
		left: 0; */
		padding: 0 !important;
	}

	.side-bar-menu {
		background: #111;
		z-index: 1000;
		position: absolute !important;
		width: 100%;
		top: 0;
		left: 0;
	}

	.side-bar-items {
		border-bottom: .1px solid #fff;
	}

	.navbar-show-menu {
		display: block;
		float: right;
		z-index: 1001;
		padding: 0 1rem !important;
	}

	.logout-txt {
		display: none;
	}

	.avatar-admin {
		display: none;
	}

	.label-admin-edit {
	    text-align: left !important;
	}

	.edit-img-info .edit-img .form-group .label-edit {
	    text-align: left !important;
	    margin-top: 15px;
	}

	.media-edit .media-edit-form .form-group>div>label {
		text-align: left !important;
	}

	/*-x- 11/11/2019 -x-*/

	/*-- 13/11/2019 --*/

	.media-edit .media-edit-form .form-group>.col-lg-2 {
		text-align: left !important;
	}

	.iframe-preview {
		max-width: 100%;
	}

	/*-x- 13/11/2019 -x-*/

	.admin-edit {
		overflow: auto;
		-webkit-overflow-scrolling:touch;
	}

	.pagination-menu {
		font-size: 8px;
	}
}

@media (min-width: 768px) {
	/*-- 11/11/2019 --*/

	.side-bar {
		display: block !important;
		position: relative !important;
		width: 100%;
		top: 0;
		left: 0;
		width: 250px;
	}

	.side-bar-menu {
		background: #111;
		z-index: 1000;
		position: relative !important;
		width: 100%;
		top: 0;
		left: 0;
	}

	.side-bar-items {
		border: none;
	}

	.navbar-show-menu {
		display: none;
	}

	.avatar-admin {
		display: block;
	}

	.logout-txt {
		display: inline-block;
	}

	.label-admin-edit {
	    text-align: right !important;
	}

	.edit-img-info .edit-img .form-group .label-edit {
	    text-align: right !important;
	    margin-top: 15px;
	}

	.media-edit .media-edit-form .form-group>div>label {
		text-align: right !important;
	}

	/*-x- 11/11/2019 -x-*/

	/*-- 13/11/2019 --*/

	.media-edit .media-edit-form .form-group>.col-lg-2 {
		text-align: right !important;
	}

	/*-x- 13/11/2019 -x-*/

	.admin-edit {
		overflow: unset;
	}

	.login-name {
		top: 0 !important;
	}

	.iframe-preview {
		max-width: 760px;
	}
	.pagination-menu {
		font-size: 12px;
	}
}

@media (min-width: 992px) {
	.iframe-preview {
		max-width: 960px;
	}
}

@media (min-width: 1440px) {
	.iframe-preview {
		max-width: 100%;
	}
}

/*-x- responsive -x-*/

/*-- fix css --*/

/*-- 11/11/2019 --*/

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

/*-x- 11/11/2019 -x-*/

/*-x- fix css -x-*/

/*------------014-administrator-menu-tag-management------------*/
.menu-tag-management-table table{
	width: 100%;
	font-size: 12px;
}
.menu-tag-management-table th,td {
	border: .5px solid #DDDDDD;
	border-collapse: collapse;
}
.menu-tag-management-table tr:nth-child(odd) {
	background-color: #FBFBFB;
}
.menu-tag-management-table table p {
	margin-bottom: 0px;
}
/*------x------014-administrator-menu-tag-management-----x-------*/
/*-------------create------------*/
.border-header {
	border-left: 5px solid blue;
}
.border-headerr {
	border-top: 7px solid blue;
	border-bottom: 7px solid blue;
	border-style: double;
	border-left: none;
	border-right: none;
}
.border-headerrr {
	border-bottom: 1px dashed;
}
/*-------x------create-----x-------*/


/*----18/11/2019-----*/
select{
	border-radius: 5px;
	padding: 5px;
	height: 35px !important;
}
/*--x--18/11/2019--x--*/

/*----19/11/2019-----*/
.admin-header{
	font-size: 14px;
}
.side-bar-menu{
	font-size: 14px;
}
.main {
	font-size: 12px !important;
}
button{
	font-size: 12px !important;
}

.vote-name, .option-text, .vote-input {
	padding: 0 !important;
}

/*-- 11/01/2019 --*/

.box-setting-post {
	padding: 1rem;
	border: .5px dashed #888;
}

.pagination-menu {
	overflow: auto;
}

.form-control {
	font-size: 12px !important;
}

/* iskchat css */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	background: #F2F2F2;
}


/*---------- global ----------*/

.admin-header {
	width: 100%;
	height: 50px;
	background: #111111;
	color: #ffffff;
}
.side-bar {
	width: 250px;
	height: 100%;
}

.main {
	width: 100%;
	margin: 1rem 1.5rem;
}

.side-bar-menu {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	color: #ffffff;
}

.dropdown-toggle::after {
	float: right;
	margin: .5rem 0 0 0;
}

/*.btn-no-radius {
	border-radius: 0 !important;
}*/
.btn{
	width: 80px;
	color: #ffffff;
	height:32px;
	border-radius:5px;
	font-size: 14px;
}
.text-info-txt {
	margin: 2rem 0;
}

.label-admin-edit {
	text-align: right !important;
	font-weight: bold;
}

.dash-border-box {
	border-width: .5px; 
	border-color: #cccccc; 
	border-style: dashed;
}
/*-------main--------*/
.button{
	width:250px !important;
	margin-top: 15%;
}
/*-----x----- global -----x-----*/

/*---------- 03-ユーザー管理・新規画⾯（管理側・PC版） ----------*/

.admin-login {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.admin-login div {
	margin: 1rem 0;
}

.admin-login-input-group input {
	margin: 1rem .5rem;
}

.admin-login-btn {
	background: #D34725 !important;
	color: #ffffff !important;
}

.forget-txt a {
	color: #111111;
}

.forget-txt i {
	width: 25px;
	color: #111111;
	font-size: 16px;
}

.text-edit{
	background-color:#FAF7EA;
	margin: 0 auto;
}

/*-----x-----03-ユーザー管理・新規画⾯（管理側・PC版） -----x-----*/

/*------ admin-edit side-bar ------*/

.admin-edit {
	width: 100%;
	display: flex;
}
.admin-edit nav {
	background: #111111;
}

.side-bar-menu {
	padding: 0;
}

.side-bar-items {
	padding: .5rem;
	cursor: pointer;
}

.side-bar-items:hover {
	background-color: #ffffff;
	color: #111111;
}

.side-bar-items:hover i {
	color: #111111;
}

.side-bar-items:hover .side-bar-links{
	color: #111111;
	text-decoration: none;
}

.side-bar-items:hover p{
	color: #111111;
}

.side-bar-items i {
	width: 25px;
}

.side-bar-links,i {
	color: #ffffff;
}

.media-manager-screen-menu {
	background: #0050AA;
}

/*---x--- admin-edit side-bar ---x---*/

/*---------- 04-User-management-and-user-list-screen ----------*/

.pagination-menu .pagination .page-item .page-link,i {
	color: black;
}

.content-table-list {
	overflow: auto;
	max-width: 100%;
}

.content-table-list table{
  width: 100%;
  font-size: 13px;
}
.content-table-list table td,th {
	border: .5px solid #DDDDDD;
  	border-collapse: collapse;
  	text-align: center;
}
th, td {
  padding: 15px;
  text-align: left; 
}
tr, th{
	text-align: center;
}
.content-table-management th,td {
	border: .5px solid #DDDDDD;
	border-collapse: collapse;
}
i{
	margin-right:20px;
	font-size: 20px;
}

/*---------- 08-file browsing ----------*/

.content-file{
	height: 500px;
}
.title{
	height: 50px;
	background: #D2B4A6;
}
.title p{
	text-align: center;
	font-size: 25px;
	color: white;
	font-weight: bold;
}

/*@media (max-width: 768px) {
	.content-table-list {
		max-width: 85%;
	}
}*/
.settingfile{
	border: 1px solid #808080 !important;
	width: 235px;
	height: 200px;
	/*float: left;*/
	text-align: center;
	cursor: pointer;
}

/*---------- 08-file browsing ----------*/
.bg {
	background: #404040;
	width: 100%;
	height:55rem;
}
.edit {
	background: #F2F2F2;
	width: 60%;
	margin-left:20%;
	position: absolute;
}
.main{
	margin: 0;
}		
.file {
	background: white;
	width: 55px;
	height: 150px;
	margin-top: 30px;
	margin-right:3%;
	float: right;
	border-radius: 15px;
}
.file i {
	font-size:35px;
	margin-left: 10px;
	margin-top: 10px;
}	
a:hover {
  color: #D34725;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.notify-delete
{
	text-align:center; 
	color:red;
	font-size: 14px;
}
.icon-for-file
{
	/*background-image: url(../../image/excel.png);*/
	font-family: "Font Awesome 5 Free";
    font-weight: 400;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 100px;
    margin: 15px auto;
    color: #333333;
}
/*.img-before-update {
	position: relative;
}*/

.container-file {
	max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.user-chat {
	font-size: 16px;
	font-weight: 600;
}

.checkbox-chat {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	float: right;
}

.avatar-user-chat {
	font-size: 45px;
	color: #C4D6E4;
}
.demo{
    max-height:1100px;
    overflow-y:auto;
    position: absolute;
}